
<html>
    <head>
        <title>IJP QC</title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		  <style>
			td, th {
			  border: 1px solid #dddddd;
			  text-align: left;
			  padding: 8px;
			}
		  </style>
    </head>
    <body>
        <div class="container pt-4 pb-4">
            <form action="#" method="post" id="IJP-QC-14-12-2022">
            <hr>
            <h6 style="padding-top:50px;">Q1. In an ABM campaign, client specification says company size 500+ which all will be Qualified? </h6>
            <div class="form-group pl-4">
                <p>A. <input type="radio" name="q1" value="50 &#8211; 100" required=""> 50 &#8211; 100 </p>
				
                <p>B. <input type="radio" name="q1" value="500 &#8211; 1000 " required=""> 500 &#8211; 1000 </p>
				
                <p>C. <input type="radio" name="q1" value="1000+ " required=""> 1000+  </p>
				
                <p>D. <input type="radio" name="q1" value="All of the Above" required="">  All of the Above</p>
            </div>

            <div class="col-sm-6 offset-md-3">
                <button class="btn btn-warning btn-block">Submit</button>
            </div>
            
            </form>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="../allFunctions.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </body>
</html>